.st0 {
  fill: #7e8c8d;
}
.st1 {
  fill: #627372;
}
.st2 {
  fill: #465553;
}
.st3 {
  fill: #a04223;
}
.st4 {
  fill: #d69348;
}
.st5 {
  fill: #b75627;
}
.st6 {
  fill: #e5a86c;
}
.st7 {
  fill: #b26f2b;
}
.st8 {
  fill: #be8e77;
}
.st9 {
  fill: #3f4441;
}
.st10 {
  fill: #303532;
}
.st11 {
  fill: #1f2321;
}
.st12 {
  fill: #524647;
}
.st13 {
  fill: #cca97a;
}
.st14 {
  fill: #5c5152;
}
.st15 {
  fill: #d5a382;
}
.st16 {
  fill: #a37361;
}
.st17 {
  fill: #b68b59;
}
.st18 {
  fill: #a5794e;
}
.st19 {
  fill: #f6916c;
}
.st20 {
  fill: #443232;
}
.st21 {
  fill: #ae7c5c;
}
.st22 {
  fill: #895940;
}
.st23 {
  fill: #ce9c7b;
}
.st24 {
  fill: #ad7559;
}
.st25 {
  fill: #c48e71;
}
.st26 {
  fill: #ddad92;
}
.st27 {
  fill: #9b6a42;
}
.st28 {
  fill: #aa7e52;
}
.st29 {
  fill: #c1976e;
}
.st30 {
  fill: #a87e5b;
}
.st31 {
  fill: #cca281;
}
.st32 {
  fill: #ad815c;
}
.st33 {
  fill: #3f3637;
}
.st34 {
  fill: #44393b;
}
.st35 {
  fill: #3d3233;
}
.st36 {
  fill: #3f3536;
}
.st37 {
  fill: #675e60;
}
.st38 {
  fill: #e5b69c;
}
.st39 {
  fill: #b28069;
}
.st40 {
  fill: #8c583f;
}
.st41 {
  fill: #c66628;
}
.st42 {
  fill: #db7758;
}
.st43 {
  fill: #c58d6c;
}
.st44 {
  fill: #bc876c;
}
.st45 {
  fill: #c3956b;
}
.st46 {
  fill: #352c2e;
}
.st47 {
  fill: #4f4546;
}
.st48 {
  fill: #766e6f;
}
.st49 {
  fill: #695f61;
}
.st50 {
  fill: #83481e;
}
.st51 {
  fill: #f2c49c;
}
